<nav class="navbar">
  <div class="logo">CollegeManagement</div>
  <ul class="nav-links">
    <li><a routerLink="dashboard" class="nav-item">
        <i class="fas fa-tachometer-alt"></i> Dashboard
      </a></li>
    <li><a routerLink="students" class="nav-item">
        <i class="fas fa-users"></i> Students
      </a></li>

    <li><a routerLink="courses" class="nav-item">
        <i class="fas fa-book"></i> Courses
      </a></li>


    <li><a routerLink="assessments" class="nav-item">
        <i class="fas fa-clipboard-check"></i> Assessments
      </a></li>

    <li><a routerLink="communication" class="nav-item">
        <i class="fas fa-comments"></i> Communication
      </a></li>

    <li><a routerLink="administration" class="nav-item">
        <i class="fas fa-cogs"></i> Administration
      </a></li>

    <li><a routerLink="faculty-tools" class="nav-item">
        <i class="fas fa-chalkboard-teacher"></i> Faculty-tools
      </a></li>
    <li><a routerLink="exam-schedule" class="nav-item">
        <i class="fas fa-chalkboard-teacher"></i> exam-schedule
      </a></li>

    

    <li><a routerLink="resources" class="nav-item">
        <i class="fas fa-file-alt"></i> Resources
      </a></li>
  </ul>
</nav>